* {
  border-color: #839496 !important;
}
a {
  color: #268bd2 !important;
}
a:visited {
  color: #6c71c4 !important;
}
body {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
html {
  background-color: #fdf6e3 !important;
}
input,
textarea {
  background-color: #eee8d5 !important;
  color: #657b83 !important;
}
blockquote,
pre {
  background-color: #eee8d5 !important;
  color: #657b83 !important;
}
.breadcrumb .repo-root.js-repo-root a {
  color: #268bd2 !important;
}
.breadcrumb strong.final-path {
  color: #657b83 !important;
}
.contrib-number {
  color: #586e75 !important;
}
.counter {
  background-color: #e9e1c8 !important;
  color: #586e75 !important;
}
.diffstat-bar {
  color: #657b83 !important;
}
.file-header {
  background-color: #eee8d5 !important;
}
.file-history-tease .participation {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.file-history-tease .participation .quickstat strong {
  color: #657b83 !important;
}
.file-history-tease .participation a {
  color: #93a1a1 !important;
}
.file-history-tease .author a {
  color: #657b83 !important;
}
.file-history-tease-header {
  background-color: #eee8d5 !important;
}
.file-info-divider {
  background-color: #93a1a1 !important;
}
.file-wrap {
  color: #657b83 !important;
}
.file-wrap * {
  background-color: transparent !important;
}
.filter-item {
  color: #657b83 !important;
}
.filter-item.selected {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.filter-item:hover {
  background-color: #93a1a1 !important;
  color: #586e75 !important;
}
.flash {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.gh-header-number {
  color: #93a1a1 !important;
}
.hidden-text-expander a {
  background-color: #eee8d5 !important;
}
.issue-meta {
  color: #93a1a1 !important;
}
.issues-listing a {
  color: #657b83 !important;
}
.muted-link {
  color: #657b83 !important;
}
.new-user-avatar-cta {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
  color: #586e75 !important;
}
.overall-summary {
  border-color: #93a1a1 !important;
}
.progress-bar {
  background-color: #93a1a1 !important;
}
.social-count {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
  color: #586e75 !important;
}
.scope-badge {
  background-color: #93a1a1 !important;
  color: #586e75 !important;
}
.subnav-item.selected {
  background-color: #eee8d5 !important;
}
.stats-switcher-wrapper {
  background-color: #fdf6e3 !important;
}
.table-list-header-toggle .btn-link {
  color: #93a1a1 !important;
}
.table-list-header-toggle .btn-link.selected {
  color: #657b83 !important;
}
.text-emphasized {
  color: #586e75 !important;
}
.text-diff-added {
  color: #859900 !important;
}
.text-diff-deleted {
  color: #dc322f !important;
}
.avatar,
.timeline-comment-avatar {
  filter: opacity(50%);
}
.blob-code {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.blob-code-addition {
  background-color: rgba(232,255,77,0.1) !important;
}
.blob-code-addition .x {
  background-color: #647300 !important;
  color: #b1bec2 !important;
}
.blob-code-deletion {
  background-color: rgba(220,50,47,0.2) !important;
}
.blob-code-deletion .x {
  background-color: #721513 !important;
  color: #b1bec2 !important;
}
.blob-code-hunk {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
}
.blob-code-inner {
  color: #657b83 !important;
}
.blob-num {
  background-color: #fdf6e3 !important;
  color: #93a1a1 !important;
}
.file {
  color: #657b83 !important;
}
.form-control {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
}
.pl-c {
  color: #93a1a1 !important;
}
.pl-c1 {
  color: #268bd2 !important;
}
.pl-e {
  color: #b58900 !important;
}
.pl-en {
  color: #268bd2 !important;
}
.pl-k {
  color: #859900 !important;
  font-weight: bold !important;
}
.pl-pds {
  color: #2aa198 !important;
}
.pl-s {
  color: #2aa198 !important;
}
.pl-smi {
  color: #657b83 !important;
}
.pl-v {
  color: #859900 !important;
  font-weight: bold !important;
}
.boxed-group * {
  border-color: #93a1a1 !important;
}
.boxed-group article {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.boxed-group > h3 {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.boxed-group-inner {
  background-color: #fdf6e3 !important;
}
.branch-action-body {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
}
.branch-action-body div {
  border-color: #93a1a1 !important;
}
.branch-action-state-clean .branch-action-icon {
  background-color: #859900 !important;
}
.branch-action-state-unstable .branch-action-icon,
.branch-action-state-unknown .branch-action-icon {
  background-color: #b58900 !important;
}
.branch-infobar {
  border-color: #93a1a1 !important;
  background-color: #eee8d5 !important;
}
.build-status-item {
  background-color: #e9e1c8 !important;
  color: #586e75 !important;
}
.build-status-item .build-status-details {
  color: #268bd2 !important;
}
.commit,
.commit-meta,
.commit-icon .octicon,
.commit-group-title .octicon-git-commit {
  background-color: #fdf6e3 !important;
}
.commit *,
.commit-meta *,
.commit-icon .octicon *,
.commit-group-title .octicon-git-commit * {
  border-color: #93a1a1 !important;
}
.commit-author {
  color: #657b83 !important;
}
.commit-meta {
  color: #93a1a1 !important;
}
.commit-meta .sha-block {
  color: #93a1a1 !important;
}
.commit-meta .sha-block .sha {
  color: #657b83 !important;
}
.commit-ref {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.commit-ref .user {
  color: #2aa198 !important;
}
.commit-branches *,
.commit-tease,
.commit-title {
  background-color: rgba(0,0,142,0.2) !important;
  border-color: #586e75 #586e75 #93a1a1 #586e75 !important;
}
.commit-branches * *,
.commit-tease *,
.commit-title * {
  color: #586e75 !important;
}
.commit-meta {
  background-color: #eee8d5 !important;
  color: #657b83 !important;
}
.commits-listing:before {
  background-color: #eee8d5 !important;
}
.full-commit {
  background-color: #eee8d5 !important;
  border-color: #93a1a1 !important;
}
.full-commit * {
  text-shadow: none !important;
}
.commit-desc pre {
  background-color: transparent !important;
  color: #657b83 !important;
}
.completeness-indicator-success {
  background-color: #859900 !important;
}
.copyable-terminal {
  background-color: #eee8d5 !important;
}
.blankslate {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.comment-form-head.tabnav {
  background-color: #fdf6e3 !important;
}
.conversation-list-heading .inner {
  background-color: #fdf6e3 !important;
}
.discussion-item-closed .discussion-item-icon {
  background-color: #dc322f !important;
  color: #586e75 !important;
}
.discussion-item-icon {
  background-color: #93a1a1 !important;
  color: #586e75 !important;
}
.discussion-item-icon.octicon {
  color: #586e75 !important;
}
.discussion-timeline:before {
  background-color: #839496 !important;
}
.discussion-timeline-actions {
  background-color: #fdf6e3 !important;
}
.drag-and-drop {
  background-color: #eee8d5 !important;
}
.new-discussion-timeline .closed-banner {
  background-color: #839496 !important;
  border-color: #fdf6e3 !important;
}
.timeline-comment {
  background-color: #fdf6e3 !important;
  border-color: #93a1a1 !important;
}
.timeline-comment-header {
  background-color: #eee8d5 !important;
}
.timeline-comment-wrapper {
  border-color: #fdf6e3 !important;
}
.donut-chart > .pending {
  fill: #b58900 !important;
}
.files * {
  color: #657b83 !important;
}
.files tbody tr {
  border-color: #eee8d5 !important;
}
.files tbody tr:nth-child(even) {
  background-color: #fcf3da !important;
}
.files tbody tr:nth-child(odd) {
  background-color: #fdf6e3 !important;
}
.files tbody tr:hover * {
  background-color: #e9e1c8 !important;
}
.btn {
  background-image: linear-gradient(to bottom, #eee8d5, #93a1a1) !important;
  border-color: #93a1a1 !important;
  color: #586e75 !important;
}
.btn-primary,
.issues-listing .btn-primary {
  background-color: #859900 !important;
  background-image: linear-gradient(#859900, #424d00) !important;
  color: #93a1a1 !important;
}
.entry-title a {
  color: #268bd2 !important;
}
.header {
  background-color: #ebe4cf !important;
  border-bottom-color: #93a1a1 !important;
}
.header a {
  color: #586e75 !important;
}
.lang {
  color: #586e75 !important;
}
.pagehead.repohead {
  background-color: #eee8d5 !important;
}
.reponav-item {
  background-color: #eee8d5 !important;
  border-color: transparent !important;
}
.reponav-item.selected {
  background-color: #fdf6e3 !important;
  border-color: #dc322f #e9e1c8 transparent !important;
}
.js-directory-link {
  color: #268bd2 !important;
}
.js-site-search-form input,
.js-chromeless-input-container {
  background-color: #fdf6e3 !important;
  border-color: #93a1a1 !important;
}
a.label {
  color: #000 !important;
  filter: opacity(75%);
}
.notifications-list a {
  color: #657b83 !important;
}
.notifications-list li {
  background-color: #fdf6e3 !important;
}
.octicon,
.octicon-repo {
  color: #93a1a1 !important;
}
.octicon.octicon-git-compare.type-icon-state-closed {
  color: #dc322f !important;
}
.octicon.octicon-git-compare.type-icon-state-merged {
  color: #6c71c4 !important;
}
.octicon.octicon-git-compare.type-icon-state-open {
  color: #859900 !important;
}
.octicon-check {
  color: #fff !important;
}
.octicon-x {
  color: #dc322f !important;
}
.octicon-clippy {
  color: #586e75 !important;
}
.octicon-git-pull-request,
.octicon-diff {
  color: #657b83 !important;
}
.octicon-markdown {
  color: #93a1a1 !important;
}
.outline-box-highlighted {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
}
.pagination .current {
  background-color: #93a1a1 !important;
  color: #586e75 !important;
}
.pagination .disabled {
  background-color: #eee8d5 !important;
  color: #93a1a1 !important;
}
.pagination .disabled:hover {
  background-color: #eee8d5 !important;
}
.pagination .gap {
  background-color: #eee8d5 !important;
  color: #93a1a1 !important;
}
.pagination a {
  background-color: #eee8d5 !important;
  border-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.pagination a:hover {
  background-color: #93a1a1 !important;
  color: #fdf6e3 !important;
}
#readme .plain {
  background-color: #fdf6e3 !important;
}
.markdown-body,
.markdown-body table * {
  background-color: #fdf6e3 !important;
  border-color: #839496 !important;
  color: #657b83 !important;
}
.markdown-body a,
.markdown-body table * a {
  color: #268bd2 !important;
}
.markdown-body code,
.markdown-body table * code,
.markdown-body pre,
.markdown-body table * pre {
  background-color: #eee8d5 !important;
}
.markdown-body hr,
.markdown-body table * hr {
  background-color: #93a1a1 !important;
}
.repository-description {
  color: #657b83 !important;
}
.repository-meta .edit-repository-meta label {
  color: #657b83 !important;
}
.select-menu-modal {
  border-color: #657b83 !important;
}
.select-menu-modal * {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.select-menu-header,
.select-menu-header * {
  background-color: #eee8d5 !important;
  color: #586e75 !important;
  text-shadow: none !important;
}
.select-menu-item:hover *,
.select-menu-item-icon:hover,
.select-menu-item.navigation-focus {
  background-color: #93a1a1 !important;
  color: #586e75 !important;
}
.select-menu-item.selected {
  background-color: #93a1a1 !important;
}
.repository-sidebar {
  background-color: #fdf6e3 !important;
}
.thread-subscription-status {
  background-color: #fdf6e3 !important;
}
.sunken-menu {
  background-image: linear-gradient(to right, #eee8d5 0%, #fdf6e3 8px) !important;
  box-shadow: 1px 0px 0px #eee8d5 inset;
}
.sunken-menu:before {
  background-image: linear-gradient(#fdf6e3, transparent) !important;
}
.sunken-menu:after {
  background-image: linear-gradient(transparent, #fdf6e3) !important;
}
.sunken-menu-item {
  border-color: #fdf6e3 !important;
}
.sunken-menu-item.selected {
  background-color: #fdf6e3 !important;
  border-color: #e9e1c8 !important;
  color: #586e75 !important;
}
.sunken-menu-item.selected:after {
  background-color: #cb4b16 !important;
}
.sunken-menu-separator:before {
  background-image: linear-gradient(to right, #eee8d5 70%, #fdf6e3 100%) !important;
}
.state {
  color: #586e75 !important;
}
.state-closed {
  background-color: #dc322f !important;
}
.state-open {
  background-color: #859900 !important;
}
.subnav-links a:hover {
  background-color: #eee8d5 !important;
}
.subnav-search input {
  border-color: #93a1a1 !important;
}
.right .tabnav-extra {
  color: #93a1a1 !important;
}
.tabnav-tab {
  border-color: transparent !important;
  color: #93a1a1 !important;
}
.tabnav-tab.selected {
  background-color: #fdf6e3 !important;
  background-image: linear-gradient(#eee8d5, #fdf6e3) !important;
  border-color: #839496 !important;
  color: #586e75 !important;
}
.table-list tr,
.table-list li {
  background-color: #fdf6e3 !important;
}
.table-list tr:hover,
.table-list li:hover {
  background-color: #e9e1c8 !important;
}
.table-list-header {
  background-color: #eee8d5 !important;
}
.text-pending {
  color: #b58900 !important;
}
.text-pending .octicon-primitive-dot {
  color: #b58900 !important;
}
.timeline-commits .commit-meta {
  background-color: #fdf6e3 !important;
}
.timeline-commits .commit-meta .commit-id {
  color: #93a1a1 !important;
}
