* {
  border-color: #657b83 !important;
}
a {
  color: #268bd2 !important;
}
a:visited {
  color: #6c71c4 !important;
}
body {
  background-color: #002b36 !important;
  color: #839496 !important;
}
html {
  background-color: #002b36 !important;
}
input,
textarea {
  background-color: #073642 !important;
  color: #839496 !important;
}
blockquote,
pre {
  background-color: #073642 !important;
  color: #839496 !important;
}
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
@media print {
  .dontprint {
    display: none;
  }
}
#preamble {
  background: none repeat scroll 0 0 #46484b;
  color: #002b36 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  font-weight: bold;
  height: 224px;
  padding: 2px 2px 0 6px;
}
#banner {
  text-align: center;
}
#tabs {
  background-color: #268bd2 !important;
  float: left;
  margin: 0px 0px 20px 0px;
  padding: 0;
  width: 100%;
}
#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs li {
  float: left;
  list-style-type: none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
}
#tabs li a {
  color: #eee !important;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}
#tabs li a:hover {
  background: #759fcf;
  color: #002b36 !important;
}
#tabs .ui-tabs-active a {
  background: #002b36;
  color: #555 !important;
}
#content {
  clear: both;
  background-color: #002b36 !important;
  font-size: 100%;
  margin: 0 auto;
  max-width: 810px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 10px 2px 10px;
}
#postamble {
  color: #999 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  height: 40px;
  margin: 0 auto;
  max-width: 810px;
  padding-right: 30px;
  padding-top: 22px;
  padding: 2px 2px 0 6px;
  text-align: right;
}
body {
  color: #333 !important;
  font: 13px/1.385 arial, helvetica, clean, sans-serif;
  margin: 0 0.1em;
  padding: 0;
}
b {
  color: #000 !important;
}
blockquote {
  background-color: #073642 !important;
  border: 1px solid #dedede;
  color: #444 !important;
  line-height: 1.14em;
  overflow: auto;
/* overflow-x  auto */
  padding: 0px 10px 0px 10px;
}
i {
  color: #1a1a1a !important;
}
h1,
ul#tabs,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
h1 {
  background-color: #0a3f69 !important;
  color: #f8f8f8 !important;
  font-size: 24px;
  margin: 0;
  padding: 9px 0px 0px 10px;
}
h2 {
  border-bottom: 4px solid #67b3e3;
  color: #13679d !important;
  font-size: 20px;
}
h3,
h4,
h5,
h6 {
  color: #1572ae !important;
}
h3 {
  border-bottom: 1px solid #b5daf1;
  font-size: 16px;
  margin-left: 25px;
}
h4 {
  border-bottom: 1px dotted #c9e3f5;
  font-size: 14px;
  margin-left: 60px;
}
.outline-4 ol li {
  font-weight: bold;
}
.outline-text-5,
.outline-text-6,
.outline-text-7 {
  font-weight: normal;
}
h5 {
  font-size: 1em;
  margin-left: 87px;
}
h6 {
  font-size: 1em;
  margin-left: 100px;
}
.DONEheader {
  color: #adadad !important;
  text-decoration: line-through;
}
h3.DONEheader {
  border-bottom: 1px solid #ddd;
}
h4.DONEheader {
  border-bottom: 1px dotted #ddd;
}
.outline-text-2,
.outline-text-3,
.outline-text-4,
.outline-text-5,
.outline-3 > ul,
.outline-4 > ol,
#text-footnotes {
  margin-left: 100px;
}
li > .outline-text-5 {
  margin-left: 20px;
}
ul,
ol {
  padding-left: 1.5em;
}
dt {
  color: #1572ae !important;
  font-weight: bold;
}
dd {
  margin-bottom: 6px;
}
pre {
/* Use #EAEAEA for background-color of border with src code block's name */
  background-color: #073642 !important;
  border: 1px solid #dedede;
  color: #444 !important;
  font-family: monospace;
  line-height: 1.14em;
  overflow: auto;
/* overflow-x  auto */
  padding: 10px 10px 10px 10px !important;
}
code {
  background-color: #073642 !important;
  border: 1px solid #dedede;
  color: #444 !important;
  font-family: monospace;
/* font-size  0.93em */
  margin: 0px 1px;
  padding: 0px 2px;
}
li > p,
li > ul,
li > .inlinetask,
li > dl {
  margin-left: 0px;
}
dd > p,
dd > ul,
dd > .inlinetask,
dd > dl {
  margin-left: 0px;
}
li.checked {
  list-style-image: url("../images/checked.png");
}
li.halfchecked {
  list-style-image: url("../images/halfchecked.png");
}
li.unchecked {
  list-style-image: url("../images/unchecked.png");
}
a,
a link {
  color: #268bd2 !important;
  text-decoration: none;
}
a:visited,
a link:visited {
  color: #6c71c4 !important;
}
a:hover,
a link:hover {
  text-decoration: underline;
}
a focus,
a link focus {
  outline: none;
}
#search {
  border-radius: 3px;
  background: none repeat scroll 0 0 #002b36;
  display: block;
  float: right;
  height: 18px;
  margin: 5px 10px 0 0;
  overflow: hidden;
  padding: 0 3px;
  width: 188px;
}
#search input {
  border: 0 none;
  color: #666 !important;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  padding: 2px 4px;
  width: 160px;
}
#search button {
  background: url("../images/search-glass.png") no-repeat scroll 0 50% transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  float: right;
  height: 18px;
  margin: 0;
  text-indent: -999em;
  width: 14px;
}
table {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}
table td {
  padding: 3px 5px;
}
table,
th,
td {
  border: 1px solid #657b83;
  border-left: 2px solid #002b36;
  border-right: 2px solid #002b36;
}
th {
  border-width: 1px 2px;
  border-color: #002b36 !important;
  background-color: #268bd2 !important;
  color: #002b36 !important;
}
caption {
  color: #8d8d84 !important;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.figure {
  color: #8d8d84 !important;
  text-align: center;
}
.fixme {
  background: #ff8 url("../images/fixme.png") no-repeat top left;
  color: #c00 !important;
  display: inline-block;
  height: 16px;
  text-indent: -9999px;
  width: 82px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.inlinetask {
  background-color: #f7f7f7 !important;
  border-collapse: separate;
  border-color: #eee #eee #eee #1e90ff !important;
  border-style: solid;
  border-width: 1px 1px 1px 6px;
  padding: 8px 8px 0px 8px;
  margin: 10px 0px;
}
.inlinetask td {
  padding: 2px 5px 0px 2px;
  border: 0px;
}
.info {
  border: 1px solid;
  background: url("../images/info.png") no-repeat 10px 10px #bde5f8;
  color: #00529b !important;
  padding: 4px 10px 4px 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0px;
}
.tip {
  border: 1px solid;
  background: url("../images/tip.png") no-repeat 10px 10px #dff2bf;
  color: #4f8a10 !important;
  padding: 4px 10px 4px 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0px;
}
.note {
  border: 1px solid;
  background: url("../images/note.png") no-repeat 10px 10px #fffccb;
  color: #9f6000 !important;
  padding: 4px 10px 4px 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0px;
}
.warning {
  border: 1px solid;
  background: url("../images/warning.png") no-repeat 10px 10px #ffbaba;
  color: #d8000c !important;
  padding: 4px 10px 4px 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0px;
}
.todo,
.done {
  margin: 10px 0;
  padding: 0px 2px;
}
.NEW {
  background-color: #fdfcd8 !important;
  border: 1px solid #eee9c3;
  color: #302b13 !important;
  font-weight: normal;
}
.TODO {
  background-color: #fed5d7 !important;
  border: 1px solid #dc322f;
  color: #dc322f !important;
}
.STRT,
.STARTED,
.UNDERWAY {
  background-color: #fef2d4 !important;
  border: 1px solid #b58900;
  color: #b58900 !important;
}
.WAIT,
.WAITING,
.DLGT,
.DELEGATED {
  background-color: #dfffdf !important;
  border: 1px solid #55ba80;
  color: #55ba80 !important;
}
.SDAY,
.SOMEDAY,
.DFRD,
.DEFERRED {
  background-color: #d3eeff !important;
  border: 1px solid #42b5ff;
  color: #42b5ff !important;
}
.DONE,
.CANX,
.CANCELED {
  background-color: #f2f2ee !important;
  border: 1px solid #969696;
  color: #969696 !important;
}
.tag span {
  background-color: #073642 !important;
  border: 1px solid #073642;
  color: #939393 !important;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin: 0 3px;
  padding: 1px 2px;
  border-radius: 10px;
}
.tag span #right-panel-contents {
  font-size: 100%;
}
.tag span:hover {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
.tag span .FLAGGED {
  background-color: #edc6c8 !important;
  border: 1px solid #edc6c8;
  color: #c15f4e !important;
}
.tag span .selected {
  background-color: #ffebc1 !important;
  border: 1px solid #fdbf3b;
  color: #a6750c !important;
}
#listOfTags .tag span {
  display: inline;
  float: none;
}
span.todo {
  cursor: pointer;
/* display  block */
/* float  left */
  margin: -1px 3px 0px 0px;
}
span.todo:hover {
  background: #586e75;
  color: #888 !important;
}
span.todo .selected {
  background-color: #ffebc1 !important;
  border-color: #fdbf3b !important;
  color: #a6750c !important;
}
.matchtag {
  background-color: #fbffc0 !important;
}
.matchNEW {
  background-color: #fdfcd8 !important;
}
.matchTODO {
  background-color: #ffe6e4 !important;
}
.matchSTRT {
  background-color: #fef2d4 !important;
}
.matchWAIT,
.matchDLGT {
  background-color: #dfffdf !important;
}
.matchSDAY,
.matchDFRD {
  background-color: #e0efff !important;
}
#listOfTodo,
#listOfDone,
#listOfTags {
/* bottom  10px /\* together with this to put the div at the bottom*\/ */
/* left  10px */
/* list-style-type  none */
  margin-left: 0px;
/* position  fixed /\* this is the magic *\/ */
}
.timestamp-kwd {
  background-color: #fff1f1 !important;
  color: #800 !important;
  margin: 0px 4px 0px 0px;
  padding: 2px 0px 2px 2px;
}
.timestamp {
  color: #777 !important;
  font-size: 80%;
}
#table-of-contents {
  background-color: #073642 !important;
  border: 1px solid #e4e4e4;
  display: table;
  line-height: 1.2em;
  padding: 4px;
  margin: 4px;
  max-width: 400px;
  float: right;
  width: auto;
}
#table-of-contents h2 {
  display: none;
}
#table-of-contents ul {
  margin: 0;
  padding: 0;
}
#table-of-contents li {
  list-style-type: none;
  margin: 0;
}
#table-of-contents li li {
  margin-left: 1.5em;
}
#table-of-contents li li li {
  font-size: 0.8em;
}
#table-of-contents a {
  color: #606060 !important;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
}
#table-of-contents a:hover {
  color: #c61a1a !important;
  text-decoration: underline;
}
#minitoc {
  background-color: #073642 !important;
  border: 1px solid #e4e4e4;
  color: #484848 !important;
  line-height: 1.2em;
  margin: 12px;
  padding: 4px;
  position: fixed;
  width: auto;
}
#minitoc a {
  display: block;
  font-size: 10px;
  font-weight: normal;
}
#minitoc a {
  display: none;
}
#minitoc:hover a {
  display: block;
}
#minitoc h2 {
  margin: 3px 0px;
  border: none;
  font-size: 11px;
}
p.verse {
  color: #808080 !important;
  font-style: italic;
}
.example {
  background-color: #ddfade !important;
  border: 1px solid #9ec49f;
  color: #333 !important;
}
.alert {
  font-weight: bold;
  color: #f00 !important;
}
#toTop {
  background: #f7f7f7;
  border: 1px solid #ccc;
  top: 10px;
  color: #333 !important;
  cursor: pointer;
  display: none;
  font-family: verdana;
  font-size: 11px;
  padding: 5px;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 100px;
  z-index: 999;
}
#toTop:hover {
  text-decoration: underline;
}
#left-panel-wrapper {
  position: fixed;
  z-index: 200;
/* display  none /\* hide the panel if Javascript is not running *\/ */
}
#left-panel-contents {
  background-color: #efefef !important;
  border-right: 1px dotted #adadad;
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  text-align: left;
  top: 0;
  width: 199px;
  z-index: 200;
  padding-top: 7px;
  padding-left: 7px;
}
#left-panel-button {
  transform: rotate(90deg);
  background-color: #efefef !important;
  border: 1px dotted #adadad;
  border-bottom-width: 0px;
  left: -23px;
  position: fixed;
  top: 50%;
  z-index: 200;
  padding: 2px 5px 5px 5px;
}
#right-panel-wrapper {
  position: fixed;
  z-index: 200;
/* display  none /\* hide the panel if Javascript is not running *\/ */
}
#right-panel-contents {
  background-color: #efefef !important;
  border-left: 1px dotted #adadad;
  display: none;
  height: 100%;
  right: 0px;
  position: fixed;
  text-align: left;
  top: 0;
  width: 199px;
  z-index: 200;
  padding-top: 7px;
  padding-left: 7px;
}
.org-src-container {
  position: relative;
}
.snippet-copy-to-clipboard {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.9em;
  text-decoration: underline;
}
.copy-to-clipboard-button :hover {
  cursor: pointer;
}
.org-ol li {
  margin: 0.5em;
}
.post-actions {
  background-color: #073642 !important;
}
.textarea-wrapper {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.search--adv {
  background-color: #073642 !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #002b36 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #073642 !important;
  color: #eee8d5 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #eee8d5 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #002b36 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #002b36 !important;
}
.search--header {
  background-color: #073642 !important;
}
.zci {
  background-color: #073642 !important;
  color: #839496 !important;
}
.tile--info {
  background-color: #002b36 !important;
}
.tile--info__expand {
  background-color: #586e75 !important;
}
.tile--c {
  background-color: #586e75 !important;
  color: #eee8d5 !important;
}
.module__text {
  color: #839496 !important;
}
.about-info-box__heading {
  color: #93a1a1 !important;
}
.result.highlight {
  background-color: #073642 !important;
}
.result__snippet {
  color: #839496 !important;
}
.result__snippet b {
  color: #93a1a1 !important;
}
.btn--top {
  background-color: #073642 !important;
  color: #839496 !important;
}
.btn--top:hover {
  background-color: #586e75 !important;
}
.result--sep--hr:before {
  background-color: #586e75 !important;
}
* {
  border-color: #073642 !important;
}
.news .alert .pull-info {
  background-color: #083c4a !important;
}
.link-gray-dark,
.text-gray-dark {
  color: #839496 !important;
}
.bg-white {
  background-color: #002b36 !important;
}
.border {
  border-color: #657b83 !important;
}
.breadcrumb .repo-root.js-repo-root a {
  color: #268bd2 !important;
}
.breadcrumb strong.final-path {
  color: #839496 !important;
}
button.ajax-pagination-btn {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
button.ajax-pagination-btn:hover {
  background-color: #586e75 !important;
}
.comment-reactions .btn-link {
  color: #839496 !important;
}
.comment-reactions .user-has-reacted {
  background-color: #073642 !important;
}
.text-gray-dark {
  color: #839496 !important;
}
.contrib-number {
  color: #93a1a1 !important;
}
.counter {
  background-color: #094352 !important;
  color: #93a1a1 !important;
}
.diffstat-bar {
  color: #839496 !important;
}
.file-header {
  background-color: #073642 !important;
}
.file-history-tease .participation {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.file-history-tease .participation .quickstat strong {
  color: #839496 !important;
}
.file-history-tease .participation a {
  color: #586e75 !important;
}
.file-history-tease .author a {
  color: #839496 !important;
}
.file-history-tease-header {
  background-color: #073642 !important;
}
.file-info-divider {
  background-color: #586e75 !important;
}
.file-wrap {
  color: #839496 !important;
}
.file-wrap * {
  background-color: transparent !important;
}
.filter-bar {
  background-color: #083c4a !important;
}
a.filter-item,
.filter-item {
  color: #839496 !important;
}
a.filter-item.selected,
.filter-item.selected {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
a.filter-item:hover,
.filter-item:hover {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.flash {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.gh-header-number {
  color: #586e75 !important;
}
.ellipsis-expander,
.hidden-text-expander a {
  background-color: #073642 !important;
}
.issue-meta {
  color: #586e75 !important;
}
.issues-listing a {
  color: #839496 !important;
}
.muted-link {
  color: #839496 !important;
}
.new-user-avatar-cta {
  background-color: #073642 !important;
  border-color: #586e75 !important;
  color: #93a1a1 !important;
}
.overall-summary {
  border-color: #586e75 !important;
}
.pinned-repo-item.border {
  border-color: #586e75 !important;
}
.progress-bar {
  background-color: #586e75 !important;
}
.simple-box {
  background-color: #073642 !important;
}
.social-count {
  background-color: #073642 !important;
  border-color: #586e75 !important;
  color: #93a1a1 !important;
}
.scope-badge {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.stats-switcher-wrapper {
  background-color: #002b36 !important;
}
.stats-switcher-wrapper .numbers-summary li a {
  color: #839496 !important;
}
.table-list-header-toggle .btn-link {
  color: #586e75 !important;
}
.table-list-header-toggle .btn-link.selected {
  color: #839496 !important;
}
.text-emphasized {
  color: #93a1a1 !important;
}
.text-diff-added {
  color: #859900 !important;
}
.text-diff-deleted {
  color: #dc322f !important;
}
.avatar,
.timeline-comment-avatar {
  filter: opacity(50%);
}
.blob-code {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.blob-code-addition {
  background-color: rgba(232,255,77,0.1) !important;
}
.blob-code-addition .x {
  background-color: #647300 !important;
  color: #c1cacb !important;
}
.blob-code-deletion {
  background-color: rgba(220,50,47,0.2) !important;
}
.blob-code-deletion .x {
  background-color: #721513 !important;
  color: #c1cacb !important;
}
.blob-code-hunk {
  background-color: #073642 !important;
  border-color: #586e75 !important;
}
.blob-code-inner {
  color: #839496 !important;
}
.blob-num {
  background-color: #002b36 !important;
  color: #586e75 !important;
}
.file {
  color: #839496 !important;
}
.form-control {
  background-color: #073642 !important;
  border-color: #586e75 !important;
}
.pl-c {
  color: #586e75 !important;
}
.pl-c1 {
  color: #268bd2 !important;
}
.pl-e {
  color: #b58900 !important;
}
.pl-en {
  color: #268bd2 !important;
}
.pl-k {
  color: #859900 !important;
  font-weight: bold !important;
}
.pl-pds {
  color: #2aa198 !important;
}
.pl-s {
  color: #2aa198 !important;
}
.pl-smi {
  color: #839496 !important;
}
.pl-v {
  color: #859900 !important;
  font-weight: bold !important;
}
.border-bottom,
.border-top {
  border-color: #073642 !important;
}
.boxed-group * {
  border-color: #586e75 !important;
}
.boxed-group article {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.boxed-group > h3 {
  background-color: #094352 !important;
  color: #93a1a1 !important;
}
.more-repos {
  background-color: #094352 !important;
  box-shadow: inset 0 1px 0 #586e75 !important;
}
.boxed-group-inner {
  background-color: #002b36 !important;
}
.branch-action-body {
  background-color: #073642 !important;
  border-color: #586e75 !important;
}
.branch-action-body div {
  border-color: #586e75 !important;
}
.branch-action-state-clean .branch-action-icon {
  background-color: #859900 !important;
}
.branch-action-state-dirty .branch-action-icon,
.branch-action-state-unstable .branch-action-icon,
.branch-action-state-unknown .branch-action-icon {
  background-color: #b58900 !important;
  color: #fff !important;
}
.text-shadow-light,
.branch-group-name,
.branch-summary {
  color: #839496 !important;
  text-shadow: none !important;
}
.branch-a-b-count .meter {
  background-color: #b58900 !important;
}
.more-branches,
.branch-group-heading,
.branch-infobar,
.branch-name {
  border-color: #586e75 !important;
  background-color: #073642 !important;
}
.State,
.State:visited {
  color: #fff !important;
}
.State--red {
  background-color: #dc322f !important;
  color: #002b36 !important;
}
.State--green {
  background-color: #859900 !important;
  color: #002b36 !important;
}
.build-status-item {
  background-color: #094352 !important;
  color: #93a1a1 !important;
}
.build-status-item .build-status-details {
  color: #268bd2 !important;
}
.capped-card h3 {
  background-color: #094352 !important;
}
.capped-card h3 a {
  color: #93a1a1 !important;
}
.capped-card-content {
  background-color: #002b36 !important;
}
.capped-list th {
  background-color: #083c4a !important;
  color: #93a1a1 !important;
}
.capped-list tr:nth-child(2n) {
  background-color: #073642 !important;
}
.commit,
.commit-meta,
.commit-icon .octicon,
.commit-group-title .octicon-git-commit {
  background-color: #002b36 !important;
}
.commit *,
.commit-meta *,
.commit-icon .octicon *,
.commit-group-title .octicon-git-commit * {
  border-color: #586e75 !important;
}
.commit-author {
  color: #839496 !important;
}
.commit-author-section {
  color: #839496 !important;
}
.commit-meta {
  color: #586e75 !important;
}
.commit-meta .sha-block {
  color: #586e75 !important;
}
.commit-meta .sha-block .sha {
  color: #839496 !important;
}
.commit-ref,
code.commit-sha {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.commit-ref .user,
code.commit-sha .user {
  color: #2aa198 !important;
}
.commit-branches *,
.commit-tease,
.commit-title {
  background-color: rgba(190,255,255,0.2) !important;
  border: none !important;
}
.commit-branches * *,
.commit-tease *,
.commit-title * {
  color: #93a1a1 !important;
}
.commit-tease-contributors {
  background-color: #073642 !important;
}
div.commit-branches,
div.commit.full-commit p.commit-title,
qul.branches-list {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
div.commit-branches *,
div.commit.full-commit p.commit-title *,
qul.branches-list * {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.commit-meta {
  background-color: #073642 !important;
  color: #839496 !important;
}
.commits-listing:before {
  background-color: #073642 !important;
}
.full-commit {
  background-color: #073642 !important;
  border-color: #586e75 !important;
}
.full-commit * {
  text-shadow: none !important;
}
.commit-desc pre {
  background-color: transparent !important;
  color: #839496 !important;
}
.commit.table-list-item {
  border-color: #073642 !important;
}
.commit-meta.commit-author-section {
  background-color: transparent !important;
  color: #839496 !important;
}
.table-list-cell .commit-title {
  background-color: transparent !important;
  color: #839496 !important;
}
.completeness-indicator-success {
  background-color: #859900 !important;
}
.completeness-indicator-problem {
  background-color: #b58900 !important;
  color: #fff !important;
}
.copyable-terminal {
  background-color: #073642 !important;
}
.blankslate {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.comment-form-head.tabnav {
  background-color: #002b36 !important;
}
.conversation-list-heading .inner {
  background-color: #002b36 !important;
}
.discussion-item-closed .discussion-item-icon {
  background-color: #dc322f !important;
  color: #93a1a1 !important;
}
.discussion-item-icon {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.discussion-item-icon.octicon {
  color: #93a1a1 !important;
}
.discussion-timeline:before {
  background-color: #657b83 !important;
}
.discussion-timeline-actions {
  background-color: #002b36 !important;
}
.drag-and-drop {
  background-color: #073642 !important;
}
.new-discussion-timeline .closed-banner {
  background-color: #657b83 !important;
  border-color: #002b36 !important;
}
.timeline-comment {
  background-color: #002b36 !important;
  border-color: #586e75 !important;
}
.timeline-comment-header {
  background-color: #073642 !important;
}
.timeline-comment-wrapper {
  border-color: #002b36 !important;
}
.donut-chart > .pending {
  fill: #b58900 !important;
}
.dropdown-divider {
  background-color: #657b83 !important;
}
.dropdown-item {
  color: #839496 !important;
}
.dropdown-item:hover {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.dropdown-menu {
  background-color: #094352 !important;
  color: #93a1a1 !important;
  border-color: #657b83 !important;
}
.files * {
  color: #839496 !important;
}
.files tbody tr {
  border-color: #073642 !important;
}
.files tbody tr:nth-child(even) {
  background-color: #00323f !important;
}
.files tbody tr:nth-child(odd) {
  background-color: #002b36 !important;
}
.files tbody tr:hover * {
  background-color: #094352 !important;
}
.btn {
  background-image: linear-gradient(to bottom, #586e75, #073642) !important;
  border-color: #586e75 !important;
  color: #93a1a1 !important;
}
.btn-primary,
.issues-listing .btn-primary {
  background-color: #859900 !important;
  background-image: linear-gradient(#859900, #424d00) !important;
  color: #000 !important;
  filter: opacity(62.5%);
}
.entry-title a {
  color: #268bd2 !important;
}
.Header {
  background-color: #083c4a !important;
  border-bottom-color: #586e75 !important;
}
.Header a {
  color: #93a1a1 !important;
}
.lang {
  color: #93a1a1 !important;
}
.reponav-item,
.pagehead-tabs-item {
  background-color: #073642 !important;
  border-color: transparent !important;
  color: #839496 !important;
}
.reponav-item:visited,
.pagehead-tabs-item:visited {
  color: #839496 !important;
}
.reponav-item.selected,
.pagehead-tabs-item.selected {
  background-color: #002b36 !important;
  border-color: #dc322f #094352 transparent !important;
}
.site-footer-links * {
  color: #839496 !important;
}
.Box-row--focus-gray.navigation-focus {
  background-color: #083c4a !important;
  color: #93a1a1 !important;
}
.js-directory-link {
  color: #268bd2 !important;
}
.js-site-search-form input,
.js-chromeless-input-container {
  background-color: #002b36 !important;
  border-color: #586e75 !important;
}
a.label {
  color: #000 !important;
  filter: opacity(75%);
}
.notifications-list a {
  color: #839496 !important;
}
.notifications-list li {
  background-color: #002b36 !important;
}
.octicon,
.octicon-repo {
  color: #93a1a1 !important;
}
.octicon.type-icon-state-closed,
.octicon-repo.type-icon-state-closed {
  color: rgba(255,54,43,0.65) !important;
}
.octicon.type-icon-state-merged,
.octicon-repo.type-icon-state-merged {
  color: #6c71c4 !important;
}
.octicon.type-icon-state-open,
.octicon-repo.type-icon-state-open {
  color: rgba(205,212,0,0.65) !important;
}
.octicon-alert {
  color: #fff !important;
}
.octicon-x {
  color: #dc322f !important;
}
.octicon-check {
  color: #859900 !important;
}
.octicon-primitive-dot {
  color: #b58900 !important;
}
.octicon-clippy {
  color: #93a1a1 !important;
}
.octicon-git-pull-request,
.octicon-diff {
  color: #fff !important;
}
.octicon-markdown {
  color: #586e75 !important;
}
.orghead {
  background-color: #073642 !important;
  border-color: #657b83 !important;
  border-bottom: 0px !important;
  color: #93a1a1 !important;
}
.org-name {
  color: #93a1a1 !important;
}
.pagehead.orghead {
  background-color: #073642 !important;
}
.outline-box-highlighted {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.pagination .current {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.pagination .disabled {
  background-color: #073642 !important;
  color: #586e75 !important;
}
.pagination .disabled:hover {
  background-color: #073642 !important;
}
.pagination .gap {
  background-color: #073642 !important;
  color: #586e75 !important;
}
.pagination a {
  background-color: #073642 !important;
  border-color: #002b36 !important;
  color: #839496 !important;
}
.pagination a:hover {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
.empty-cell,
.diffbar {
  background-color: #002b36 !important;
}
.merge-status-item {
  background-color: #094352 !important;
}
.merge-message {
  background-color: #083c4a !important;
}
.pr-toolbar {
  background-color: #002b36 !important;
}
.review-thread-reply {
  background-color: #073642 !important;
}
.review-thread-reply .inline-comment-form {
  background-color: #002b36 !important;
}
.octicon-git-merge {
  color: #fff !important;
}
#readme .plain {
  background-color: #002b36 !important;
}
.markdown-body,
.markdown-body table * {
  background-color: #002b36 !important;
  border-color: #657b83 !important;
  color: #839496 !important;
}
.markdown-body a,
.markdown-body table * a {
  color: #268bd2 !important;
}
.markdown-body code,
.markdown-body table * code,
.markdown-body pre,
.markdown-body table * pre {
  background-color: #073642 !important;
}
.markdown-body hr,
.markdown-body table * hr {
  background-color: #586e75 !important;
}
.markdown-body img,
.markdown-body table * img {
  background-color: #002b36 !important;
}
.range-editor {
  background-color: #073642 !important;
}
.compare-pr-placeholder {
  background-color: #083c4a !important;
}
ul.comparison-list > li.title {
  background-color: #094352 !important;
}
ul.comparison-list {
  background-color: #083c4a !important;
}
.repository-description {
  color: #839496 !important;
}
.repository-meta .edit-repository-meta label {
  color: #839496 !important;
}
.pagehead.repohead {
  background-color: #073642 !important;
}
.repository-content .RecentBranches {
  background-color: #073642 !important;
  border-color: #657b83 !important;
}
.repohead-details-container a {
  color: #839496 !important;
}
.select-menu-modal {
  border-color: #839496 !important;
}
.select-menu-modal * {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.select-menu-header,
.select-menu-header * {
  background-color: #073642 !important;
  color: #93a1a1 !important;
  text-shadow: none !important;
}
.select-menu-item:hover *,
.select-menu-item-icon:hover,
.select-menu-item.navigation-focus {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.select-menu-item.selected {
  background-color: #586e75 !important;
}
.repository-sidebar {
  background-color: #002b36 !important;
}
.thread-subscription-status {
  background-color: #002b36 !important;
}
.sunken-menu {
  background-image: linear-gradient(to right, #073642 0%, #002b36 8px) !important;
  box-shadow: 1px 0px 0px #073642 inset;
}
.sunken-menu:before {
  background-image: linear-gradient(#002b36, transparent) !important;
}
.sunken-menu:after {
  background-image: linear-gradient(transparent, #002b36) !important;
}
.sunken-menu-item {
  border-color: #002b36 !important;
}
.sunken-menu-item.selected {
  background-color: #002b36 !important;
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
.sunken-menu-item.selected:after {
  background-color: #cb4b16 !important;
}
.sunken-menu-separator:before {
  background-image: linear-gradient(to right, #073642 70%, #002b36 100%) !important;
}
.state {
  color: #93a1a1 !important;
}
.state-closed {
  background-color: #dc322f !important;
}
.state-open {
  background-color: #859900 !important;
}
.subnav-item {
  color: #839496 !important;
}
.subnav-item:hover {
  background-color: #083c4a !important;
}
.subnav-item:visited {
  color: #839496 !important;
}
.subnav-item.selected {
  background-color: #073642 !important;
}
.subnav-links a:hover {
  background-color: #073642 !important;
}
.subnav-search input {
  border-color: #586e75 !important;
}
.right .tabnav-extra {
  color: #586e75 !important;
}
a.tabnav-tab,
.tabnav-tab {
  border-color: transparent !important;
  color: #586e75 !important;
}
a.tabnav-tab.selected,
.tabnav-tab.selected {
  background-color: #002b36 !important;
  background-image: linear-gradient(#073642, #002b36) !important;
  border-color: #657b83 !important;
  color: #93a1a1 !important;
}
.table-list tr,
.table-list li {
  background-color: #002b36 !important;
}
.table-list tr:hover,
.table-list li:hover {
  background-color: #094352 !important;
}
.table-list-header {
  background-color: #073642 !important;
}
.text-pending {
  color: #b58900 !important;
}
.text-pending .octicon-primitive-dot {
  color: #b58900 !important;
}
.text-red {
  color: #dc322f !important;
}
.timeline-commits .commit-meta {
  background-color: #002b36 !important;
}
.timeline-commits .commit-meta .commit-id {
  color: #586e75 !important;
}
.topic-tag.topic-tag-link {
  background-color: #073642 !important;
  color: #839496 !important;
}
.underline-nav-item {
  color: #839496 !important;
}
.underline-nav-item.selected {
  border-bottom-color: #dc322f !important;
  color: #839496 !important;
}
.user-profile-nav {
  background-color: #073642 !important;
  border-color: #657b83 !important;
}
.user-profile-sticky-bar:after {
  background-color: #073642 !important;
  border-color: #657b83 !important;
}
.graphs .area {
  fill: #859900;
}
.summary-stats li .num {
  color: #93a1a1 !important;
}
.viz {
  background-color: #083c4a !important;
}
.facebox-popup {
  color: #839496 !important;
  background-color: #002b36 !important;
}
.facebox-popup .octicon {
  color: #fff !important;
}
.facebox-popup .owner-select-target {
  color: #839496 !important;
  background-color: #073642 !important;
}
.facebox-popup .owner-select-target:hover {
  background-color: #586e75 !important;
}
.sfbgg {
  background-color: #073642 !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #073642, #002b36) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #002b36 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #59a9e1, #268bd2) !important;
}
#hdtbSum {
  background-color: #002b36 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #002b36 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #002b36, #073642) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #073642, #002b36) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #002b36, #073642) !important;
}
#appbar {
  background-color: #002b36 !important;
}
cite {
  color: #859900 !important;
}
.ab_dropdown {
  background-color: #002b36 !important;
}
div.crp {
  background-color: #002b36 !important;
}
#fbar {
  background-color: #073642 !important;
}
table {
  background-color: #002b36 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #cb4b16 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #002b36 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #002b36 !important;
}
.title a {
  color: #839496 !important;
}
.title a:visited {
  color: #586e75 !important;
}
a.storylink {
  color: #93a1a1 !important;
  font-weight: bold;
}
.sitestr {
  color: #268bd2 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #002b36 !important;
}
#hnmain .comhead {
  color: #93a1a1 !important;
}
#hnmain .c00 {
  color: #839496 !important;
}
#hnmain a.hnuser {
  color: #b58900 !important;
}
#hnmain span.age a {
  color: #586e75 !important;
}
.cdd {
  color: rgba(255,54,43,0.65) !important;
}
.comment i {
  color: #586e75 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #002b36 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #cb4b16 !important;
}
tr.Even {
  background-color: #073642 !important;
}
.BigQuote {
  background-color: #073642 !important;
  color: #cb4b16 !important;
}
.Cat1HL {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.Cat2HL {
  background-color: #094352 !important;
}
.Cat3HL {
  background-color: #083c4a !important;
}
.FeatureByline {
  background-color: #073642 !important;
  border: none !important;
}
.Headline {
  background-color: #094352 !important;
}
.QuotedText {
  color: #6c71c4 !important;
}
DIV.GAByline {
  background-color: #073642 !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #00323f !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #002b36 !important;
}
DIV.CommentBox {
  border-color: #073642 !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #094352 !important;
}
#menu,
.topnav-container {
  background-color: #073642 !important;
}
.navmenu ul {
  background-color: #073642 !important;
}
body * {
  border-color: #094352 !important;
}
#content {
  background-color: #002b36 !important;
  color: #839496 !important;
}
#mw-head,
#mw-panel {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #073642 !important;
  background-image: linear-gradient(to bottom, #002b36, #073642) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #002b36, #073642) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #002b36, #073642) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #002b36, #073642) !important;
}
div.vectorTabs ul li {
  background-color: #073642 !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #073642 !important;
  background-image: linear-gradient(to bottom, #002b36, #073642) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #073642, #002b36) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #002b36 !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #073642 !important;
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
.catlinks {
  background-color: #073642 !important;
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
.navbox {
  background-color: #073642 !important;
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #094352 !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #083c4a !important;
}
.navbox-even {
  background-color: #002b36 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
code {
  background-color: #094352 !important;
  border-color: #094352 !important;
  color: #93a1a1 !important;
}
div.thumbinner {
  background-color: #073642 !important;
  border-color: #094352 !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #094352 !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #002b36 !important;
  border-color: #094352 !important;
  color: #839496 !important;
}
table.wikitable > * > tr > th {
  background-color: #073642 !important;
}
div#page div#header {
  background-color: #002b36 !important;
}
div#page div#header a {
  color: #6c71c4 !important;
}
.post {
  background-color: #002b36 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #073642 !important;
}
.post h2 a {
  color: #93a1a1 !important;
}
.post div.entry {
  background-color: #002b36 !important;
  color: #839496 !important;
}
.post div.entry blockquote {
  background-color: #073642 !important;
}
.post div.entry kbd {
  background-color: #073642 !important;
  border-color: #586e75 !important;
  box-shadow: none !important;
  color: #93a1a1 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
#sr-header-area {
  background-color: #073642 !important;
}
#sr-header-area .srdrop .selected {
  color: #839496 !important;
}
#sr-header-area #sr-more-link {
  background-color: #073642 !important;
}
.link.promotedlink.promoted {
  background-color: #073642 !important;
}
.link .usertext .md {
  background-color: #073642 !important;
}
.linkinfo {
  background-color: #073642 !important;
}
.linklisting .odd {
  background-color: #073642 !important;
}
.thing .title {
  color: #839496 !important;
}
div.md {
  color: #839496 !important;
}
body.comment {
  background-color: #002b36 !important;
}
.commentarea > .usertext {
  background-color: #002b36 !important;
}
.commentarea .menuarea {
  background-color: #002b36 !important;
}
.comments-page .panestack-title {
  background-color: #002b36 !important;
}
.listing-chooser {
  background-color: #002b36 !important;
}
.listing-chooser .intro {
  background-color: #586e75 !important;
  color: #93a1a1 !important;
}
.listing-chooser .grippy {
  background-color: #002b36 !important;
}
.listing-chooser .grippy:after {
  border-right: none !important;
}
.listing-chooser li {
  background-color: #073642 !important;
}
.listing-chooser li.selected {
  background-color: #586e75 !important;
  box-shadow: none;
}
.listing-chooser li a {
  color: #839496 !important;
}
.listing-chooser li a .description {
  color: #93a1a1 !important;
}
.titlebox {
  background-color: #073642 !important;
}
.titlebox form.toggle {
  background-color: #073642 !important;
  color: #839496 !important;
}
.side .usertext-body .md {
  background-color: #073642 !important;
}
.side {
  background-color: #073642 !important;
}
.sidebox .spacer {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.tabmenu li a {
  background-color: #073642 !important;
}
#header-bottom-right {
  background-color: #073642 !important;
}
.morelink .nub {
  background-color: #073642 !important;
}
* {
  border-color: #657b83 !important;
}
a {
  color: #268bd2 !important;
}
a:visited {
  color: #6c71c4 !important;
}
body {
  background-color: #002b36 !important;
  color: #839496 !important;
}
html {
  background-color: #002b36 !important;
}
input,
textarea {
  background-color: #073642 !important;
  color: #839496 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #073642 !important;
  color: #839496 !important;
}
#toolMenu li {
  background-color: #002b36 !important;
}
.navPanel,
.navIntraTool {
  background-color: #002b36 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #839496 !important;
}
.listHier th {
  background-color: #094352 !important;
}
ul.makeMenu {
  background-color: #094352 !important;
  border: 1px solid #094352 !important;
}
tr.external {
  background-color: #094352 !important;
}
hr {
  background-color: #094352 !important;
  color: #094352 !important;
}
.bounty-indicator,
.bounty-indicator-tab {
  background-color: #6c71c4 !important;
}
.bottom-notice {
  background-color: #073642 !important;
}
.comments-link {
  color: #859900 !important;
}
.page-numbers {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.page-numbers.current {
  background-color: #cb4b16 !important;
  color: #002b36 !important;
}
.post-menu a {
  color: #6c71c4 !important;
}
.question-status {
  background-color: #073642 !important;
}
pre code {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
pre code .atn {
  color: #268bd2 !important;
}
pre code .atv {
  color: #2aa198 !important;
}
pre code .com {
  color: #586e75 !important;
}
pre code .kwd {
  color: #859900 !important;
}
pre code .lit {
  color: #d33682 !important;
}
pre code .pln,
pre code .pun {
  color: #839496 !important;
}
pre code .str {
  color: #2aa198 !important;
}
pre code .tag {
  color: #859900 !important;
}
pre code .typ {
  color: #b58900 !important;
}
#footer {
  background-color: #083c4a !important;
  color: #839496 !important;
}
#footer #footer-sites th {
  color: #93a1a1 !important;
}
.top-footer-links a {
  color: #859900 !important;
}
.so-header {
  background-color: #094352 !important;
  color: #93a1a1 !important;
}
.so-header a {
  color: #859900 !important;
}
.so-header .navigation .-list .-item :hover {
  background-color: #859900 !important;
  color: #fdf6e3 !important;
}
.topbar-dialog {
  background-color: #002b36 !important;
  box-shadow: #586e75 5px 5px 5px;
}
.topbar-dialog .current-site-container {
  background-color: #002b36 !important;
}
.topbar-dialog .header {
  background-color: #073642 !important;
}
.topbar-dialog .header a {
  color: #93a1a1 !important;
}
.topbar-dialog .site-link {
  color: #93a1a1 !important;
}
#header {
  background-color: #094352 !important;
}
#question-header .question-hyperlink {
  color: #93a1a1 !important;
}
#hlogo a {
  filter: opacity(75%);
}
.new-post-activity {
  background-color: #073642 !important;
}
.tagged-interesting {
  background-color: #094352 !important;
}
div.answered-accepted {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
div.answered-accepted .mini-counts {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.answered .mini-counts span {
  color: #859900 !important;
}
.unanswered .mini-counts span {
  color: #839496 !important;
}
#hot-network-questions a {
  color: #2aa198 !important;
}
#hot-network-questions h4 a.js-gps-track {
  color: #93a1a1 !important;
}
#sidebar .community-bulletin .bulletin-item-content a {
  color: #93a1a1 !important;
}
#sidebar .module.community-bulletin {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
#sidebar .question-hyperlink {
  color: #2aa198 !important;
}
.newuser {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.label-key {
  color: #839496 !important;
}
.label-key b {
  color: #93a1a1 !important;
}
#h-chat-link {
  color: #93a1a1 !important;
}
.ad502-room {
  background-color: #073642 !important;
  box-shadow: #586e75 0px 1px 3px;
  color: #93a1a1 !important;
}
#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #002b36, #073642);
  color: #93a1a1 !important;
}
#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #cb4b16, #002b36);
  color: #fdf6e3 !important;
}
.post-tag {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
.post-tag::before {
  background-color: #002b36 !important;
}
a.comment-user.owner {
  background-color: #859900 !important;
  color: #eee8d5 !important;
}
.post-signature {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}
.post-signature a {
  color: #2aa198 !important;
}
.post-signature.owner .user-info .user-details a {
  color: #859900 !important;
}
.post-signature span.relativetime {
  color: #93a1a1 !important;
}
.vote {
  background-color: #073642 !important;
}
.vote .star-off {
  filter: opacity(75%);
}
.vote .star-on {
  filter: opacity(50%) !important;
}
.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}
.answer-votes {
  background-color: #586e75 !important;
  color: #002b36 !important;
}
