// * latte-colors.styl

// ** A theme based of the catppucin latte color scheme

base03 = #e6e9ef
base02 = #eff1f5
base01 = #9ca0b0
base00 = #8c8fa1
base0 = #7c7f93
base1 = #6c6f85
base2 = #5c5f77
base3 = #4c4f69
yellow = #df8e1d
orange = #fe640b
red = #d20f39
magenta = #ea76cb
violet = #8839ef
blue = #1e66f5
cyan = #209fb5
green = #40a02b
