// * colors.styl

// ** Darculized colors

// Darculized is a hybrid theme, derived from solarized and darcula
// See https://github.com/jgkamat/darculized

base03 = #262626
base02 = #2e2e2e
base01 = #5e6263
base00 = #909396
base0 = #909396
base1 = #a6aaab
base2 = #B8BBBD
base3 = #D2D8D9
yellow = #B68800
orange = #E05F27
red = #bd3832
magenta = #a8366b
violet = #797FD4
blue = #2F7BDE
cyan = #15968D
green = #598249
