@require "colors"

// ** Colors
color-background = base03
color-background-highlight = base02
color-background-highlight-extra = base01
color-background-highlight-extra-less = lighten(color-background-highlight, 4%)
color-background-highlight-extra-less-less = lighten(color-background-highlight, 2%)
color-border = base00
color-text = base0
comment = base01
emphasized = base1
  