// * monokai-colors.styl

// ** A theme based of the monokai color scheme
base03 = #272822
base02 = #2b2c27
base01 = #76715e
base00 = #f1ebeb
base0 = #48483e
base1 = #acada1
base2 = #f8f8f2
base3 = #f9f8f5

yellow = #e7db75
orange = #d4c96e
red = #dc2566
magenta = #ae82ff
violet = #b16286
blue = #55bcce
cyan = #56b7a5
green = #8fc029
