// * gruvbox-colors.styl

// ** A theme based of the gruvbox color scheme

base03 = #3c3836
base02 = #282828
base01 = #b8bb26
base00 = #fabd2f
base0 = #83a598
base1 = #8ec07c
base2 = #a89984
base3 = #ebdbb2
yellow = #d79921
orange = #fb4934
red = #cc241d
magenta = #b16286
violet = #d3869b
blue = #458588
cyan = #689d6a
green = #98971a