// * gruvbox-colors.styl

// ** A theme based of the gruvbox color scheme

base03 = #3c3836
base02 = #282828
base01 = #b8bb26
base00 = #fabd2f
base0 = #83a598
base1 = #8ec07c
base2 = #a89984
base3 = #ebdbb2
yellow = #d79921
orange = #fb4934
red = #cc241d
magenta = #b16286
violet = #d3869b
blue = #458588
cyan = #689d6a
green = #98971a

light_base03 = #ebdbb2
light_base02 = #fbf1c7
light_base01 = #79740e
light_base00 = #b57614
light_base0 = #076678
light_base1 = #427b58
light_base2 = #7c6f64
light_base3 = #3c3836
light_yellow = #d79921
light_orange = #9d0006
light_red = #cc241d
light_magenta = #b16286
light_violet = #8f3f71
light_blue = #458588
light_cyan = #689d6a
light_green = #98971a