// * gruvbox-light.styl

@require colors

// ** Colors
color-a = light_blue
color-a-visited = light_violet

color-background = light_base02
color-background-highlight = light_base03
color-background-highlight-extra = light_base01
color-background-highlight-extra-less = lighten(color-background-highlight, 4%)
color-background-highlight-extra-less-less = lighten(color-background-highlight, 2%)
color-background-highlight-tad-extra = lighten(color-background, 2%)


color-border = light_base0
color-text = light_base3
comment = light_base01

emphasized = light_base1
emphasized-more = light_base2
emphasized-more-more = light_base3

button-gradient-top = color-background-highlight-extra
button-gradient-bottom = color-background-highlight
