* {
  border-color: #909396 !important;
}
a {
  color: #ce4139 !important;
}
a:visited {
  color: #b68800 !important;
}
body {
  background-color: #262626 !important;
  color: #909396 !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
* {
  border-color: #909396 !important;
}
a {
  color: #ce4139 !important;
}
a:visited {
  color: #b68800 !important;
}
body {
  background-color: #262626 !important;
  color: #909396 !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
#toolMenu li {
  background-color: #262626 !important;
}
.navPanel,
.navIntraTool {
  background-color: #262626 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #909396 !important;
}
.listHier th {
  background-color: #363636 !important;
}
ul.makeMenu {
  background-color: #363636 !important;
  border: 1px solid #363636 !important;
}
tr.external {
  background-color: #363636 !important;
}
