// * mocha-colors.styl

// ** A theme based of the catppucin mocha color scheme

base03 = #181825
base02 = #1e1e2e
base01 = #6c7086
base00 = #7f849c
base0 = #9399b2
base1 = #a6adc8
base2 = #bac2de
base3 = #cdd6f4
yellow = #f9e2af
orange = #fab387
red = #eba08c
magenta = #f38ba8
violet = #cba6f7
blue = #89b4fa
cyan = #74c7ec
green = #a6e3a1
