* {
  border-color: #76715e !important;
}
a {
  color: #55bcce !important;
}
a:visited {
  color: #b16286 !important;
}
body {
  background-color: #2b2c27 !important;
  color: #f1ebeb !important;
}
html {
  background-color: #2b2c27 !important;
}
input,
textarea {
  background-color: #272822 !important;
  color: #f1ebeb !important;
}
blockquote,
pre {
  background-color: #272822 !important;
  color: #f1ebeb !important;
}
div#page div#header {
  background-color: #2b2c27 !important;
}
div#page div#header a {
  color: #b16286 !important;
}
.post {
  background-color: #2b2c27 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #272822 !important;
}
.post h2 a {
  color: #acada1 !important;
}
.post div.entry {
  background-color: #2b2c27 !important;
  color: #f1ebeb !important;
}
.post div.entry blockquote {
  background-color: #272822 !important;
}
.post div.entry kbd {
  background-color: #272822 !important;
  border-color: #76715e !important;
  box-shadow: none !important;
  color: #acada1 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
