* {
  border-color: #76715e !important;
}
a {
  color: #55bcce !important;
}
a:visited {
  color: #b16286 !important;
}
body {
  background-color: #2b2c27 !important;
  color: #f1ebeb !important;
}
html {
  background-color: #2b2c27 !important;
}
input,
textarea {
  background-color: #272822 !important;
  color: #f1ebeb !important;
}
blockquote,
pre {
  background-color: #272822 !important;
  color: #f1ebeb !important;
}
body * {
  border-color: #30312a !important;
}
#content {
  background-color: #2b2c27 !important;
  color: #f1ebeb !important;
}
#mw-head,
#mw-panel {
  background-color: #272822 !important;
  color: #acada1 !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #272822 !important;
  background-image: linear-gradient(to bottom, #2b2c27, #272822) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #2b2c27, #272822) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #2b2c27, #272822) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #2b2c27, #272822) !important;
}
div.vectorTabs ul li {
  background-color: #272822 !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #272822 !important;
  background-image: linear-gradient(to bottom, #2b2c27, #272822) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #272822, #2b2c27) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #2b2c27 !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #272822 !important;
  border-color: #30312a !important;
  color: #acada1 !important;
}
.catlinks {
  background-color: #272822 !important;
  border-color: #30312a !important;
  color: #acada1 !important;
}
.navbox {
  background-color: #272822 !important;
  border-color: #30312a !important;
  color: #acada1 !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #30312a !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #2c2d26 !important;
}
.navbox-even {
  background-color: #2b2c27 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #30312a !important;
  color: #acada1 !important;
}
code {
  background-color: #30312a !important;
  border-color: #30312a !important;
  color: #acada1 !important;
}
div.thumbinner {
  background-color: #272822 !important;
  border-color: #30312a !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #30312a !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #2b2c27 !important;
  border-color: #30312a !important;
  color: #f1ebeb !important;
}
table.wikitable > * > tr > th {
  background-color: #272822 !important;
}
