// * apprentice-colors.styl

// ** Apprentice colors

// Apprentice is derived from Romain Lafourcade's apprentice theme:
// https://github.com/romainl/Apprentice

almostblack = #1c1c1c
darkergrey  = #262626
darkgrey    = #303030
grey        = #444444
mediumgrey  = #585858
lightgrey   = #6c6c6c
lightergrey = #bcbcbc
awhite       = #ffffff
apurple      = #5f5f87
lightpurple = #8787af
agreen       = #5f875f
lightgreen  = #87af87
aaqua        = #5f8787
lightaqua   = #5fafaf
ablue        = #5f87af
lightblue   = #8fafd7
ared         = #af5f5f
orange      = #ff8700
ocre        = #87875f
ayellow      = #ffffaf