// * apprentice-dark.styl

@require colors

// ** Colors
color-a = ablue
color-a-visited = lightgreen

color-background = darkergrey
color-background-highlight = lighten(almostblack, 5%)
color-background-highlight-extra = darkgrey
color-background-highlight-extra-less = grey
color-background-highlight-extra-less-less = mediumgrey
color-background-highlight-tad-extra = darken(darkergrey, 4%)


color-border = purple
color-text = lightergrey
comment = mediumgrey

emphasized = orange
emphasized-more = ocre
emphasized-more-more = ayellow

button-gradient-top = color-background-highlight-extra
button-gradient-bottom = color-background-highlight
