* {
  border-color: #8c8fa1 !important;
}
a {
  color: #1e66f5 !important;
}
a:visited {
  color: #8839ef !important;
}
body {
  background-color: #eff1f5 !important;
  color: #7c7f93 !important;
}
html {
  background-color: #eff1f5 !important;
}
input,
textarea {
  background-color: #e6e9ef !important;
  color: #7c7f93 !important;
}
blockquote,
pre {
  background-color: #e6e9ef !important;
  color: #7c7f93 !important;
}
.post-actions {
  background-color: #e6e9ef !important;
}
.textarea-wrapper {
  background-color: #eff1f5 !important;
  color: #7c7f93 !important;
}
