* {
  border-color: #8c8fa1 !important;
}
a {
  color: #1e66f5 !important;
}
a:visited {
  color: #8839ef !important;
}
body {
  background-color: #eff1f5 !important;
  color: #7c7f93 !important;
}
html {
  background-color: #eff1f5 !important;
}
input,
textarea {
  background-color: #e6e9ef !important;
  color: #7c7f93 !important;
}
blockquote,
pre {
  background-color: #e6e9ef !important;
  color: #7c7f93 !important;
}
table {
  background-color: #eff1f5 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #fe640b !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #eff1f5 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #eff1f5 !important;
}
.title a {
  color: #7c7f93 !important;
}
.title a:visited {
  color: #9ca0b0 !important;
}
a.storylink {
  color: #6c6f85 !important;
  font-weight: bold;
}
.sitestr {
  color: #1e66f5 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #eff1f5 !important;
}
#hnmain .comhead {
  color: #6c6f85 !important;
}
#hnmain .c00 {
  color: #7c7f93 !important;
}
#hnmain a.hnuser {
  color: #df8e1d !important;
}
#hnmain span.age a {
  color: #9ca0b0 !important;
}
.cdd {
  color: rgba(194,0,0,0.65) !important;
}
.comment i {
  color: #8839ef !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #eff1f5 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #fe640b !important;
}
