// * selenized-dark.styl

@require colors

// ** Colors
color-a = blue
color-a-visited = violet

color-background = bg_0
color-background-highlight = bg_1
color-background-highlight-extra = bg_2
color-background-highlight-extra-less = lighten(color-background-highlight, 4%)
color-background-highlight-extra-less-less = lighten(color-background-highlight, 2%)
color-background-highlight-tad-extra = lighten(color-background, 2%)


color-border = dim_0
color-text = fg_0
comment = dim_0

emphasized = fg_1
emphasized-more = lighten(emphasized, 4%)
emphasized-more-more = lighten(emphasized, 8%)

button-gradient-top = color-background-highlight-extra
button-gradient-bottom = color-background-highlight
