* {
  border-color: #800080 !important;
}
a {
  color: #5f87af !important;
}
a:visited {
  color: #87af87 !important;
}
body {
  background-color: #262626 !important;
  color: #bcbcbc !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #272727 !important;
  color: #bcbcbc !important;
}
blockquote,
pre {
  background-color: #272727 !important;
  color: #bcbcbc !important;
}
.sfbgg {
  background-color: #272727 !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #272727, #262626) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #262626 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #4040ff, #00f) !important;
}
#hdtbSum {
  background-color: #262626 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #262626 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #262626, #272727) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #272727, #262626) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #262626, #272727) !important;
}
#appbar {
  background-color: #262626 !important;
}
cite {
  color: #008000 !important;
}
.ab_dropdown {
  background-color: #262626 !important;
}
div.crp {
  background-color: #262626 !important;
}
#fbar {
  background-color: #272727 !important;
}
