* {
  border-color: #800080 !important;
}
a {
  color: #5f87af !important;
}
a:visited {
  color: #87af87 !important;
}
body {
  background-color: #262626 !important;
  color: #bcbcbc !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #272727 !important;
  color: #bcbcbc !important;
}
blockquote,
pre {
  background-color: #272727 !important;
  color: #bcbcbc !important;
}
.post-actions {
  background-color: #272727 !important;
}
.textarea-wrapper {
  background-color: #262626 !important;
  color: #bcbcbc !important;
}
