// * duckduckgo.styl

// ** Homepage
.search--adv
    background-color highlight

.search__autocomplete > .acp-wrap
    background-color()

    > .acp--highlight
        background-color highlight
        color emphasized-more

    strong
        color emphasized-more

// ** Top header
.site-wrapper > #header_wrapper
    background-color()

.site-wrapper > #header_wrapper > #header
    background-color()

// ** Search field

.search--header
    background-color highlight

// ** Quick search results

// *** Main background
.zci
    background-color highlight
    color()

// *** Info/link box
.tile--info
    background-color()

    &__expand
        background-color highlight-extra

// *** Meaning boxes
.tile--c
    background-color highlight-extra
    color emphasized-more


// *** Alternative (wide-screen) box

.module__text
    color()

// **** "Related topics"
.about-info-box__heading
    color emphasized

// ** Results

.result
    &.highlight
        background-color highlight

    &__snippet
        color()

        b
          color emphasized

// ** Back-to-top arrow

.btn--top
    background-color highlight
    color()

    &:hover
        background-color highlight-extra

// ** Result separator line

.result--sep--hr:before
    background-color highlight-extra
