// * generic.styl

// Generic rules for sites

i = !important

// ** HTML elements
*
    border-color()
a
    a()
body
    background-color()
    color()

html
    // Apparently some people set the bgcolor for HTML, not BODY...
    background-color()
    
input
textarea
    background-color highlight
    color()

blockquote,    
pre
    background-color highlight
    color()