// * google.styl

// ** Header

// *** Main bar
.sfbgg
    background-color highlight

// *** Search box
.sbib_a
    background linear-gradient(to bottom, color-background-highlight, color-background) i

input#lst-ib
#sb_ifc0.sbib_b
#gs_taif0
    background transparent i

// **** Autocomplete drop-down list
#lst-ib
.sbsb_a
    background-color()

// **** Search button
.kpbb
    background-image linear-gradient(to bottom, lighten(blue, 25%), blue) i 

// *** Search tools bar
#hdtbSum
    background-color()

#hdtbMenus.hdtb-td-o
    background-color()

// **** "Search tools" button
#hdtb-tls.hdtb-tl
    background-image linear-gradient(to bottom, color-background, color-background-highlight) i

    &.hdtb-tl-sel
        background-image linear-gradient(to bottom, color-background-highlight, color-background) i 

// **** Settings button    
#abar_button_opt.ab_button
    background linear-gradient(to bottom, color-background, color-background-highlight) i

// *** appbar
// Whatever that means
#appbar
    background-color()

// ** Results
cite
    color green    

.ab_dropdown
    background-color()

// *** Pop-up definition boxes
div.crp
    background-color()
    
// ** Footer
#fbar
    background-color highlight    