// ** Header
#hnmain
    > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1)
        background-color orange

    a
        color emphasized

// ** Articles        
    .title
        a
            color()

// ** Comments        
#hnmain
    > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1)
        background-color()

    .comhead
        color emphasized
    
    .c00
        color()

// ** Footer
#hnmain
     > tbody:nth-child(1) > tr:nth-child(4)
         background-color highlight

         > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1)
             // Orange bar
             background-color orange