// * LWN.net

// ** HTML Elements

// This conflicts with a lot of things in the all-sites file, so I'm
// leaving this commented out for now.  Too bad, because it makes LWN
// look much nicer, but they use <span> with no CSS class...
    
// span
//     background-color ()
//     color orange

tr.Even
    background-color highlight

// ** Page components

.BigQuote
    background-color highlight
    color orange

.Cat1HL
    background-color color-background-highlight-extra
    color emphasized

.Cat2HL
    background-color color-background-highlight-extra-less

.Cat3HL
    background-color color-background-highlight-extra-less-less

.FeatureByline
    background-color highlight
    border none i

.Headline
    background-color color-background-highlight-extra-less

.QuotedText
    color violet

// **** article info boxes
DIV.GAByline
    background-color highlight
    border none i

// **** tables
table.OddEven
    tr:nth-child(even)
        background-color color-background-highlight-tad-extra

    tr:nth-child(odd)
        background-color()

// *** Comments

DIV.CommentBox
    border-color color-background-highlight

DIV.CommentBox P.CommentTitle
    background-color color-background-highlight-extra-less

// *** Menu

#menu, .topnav-container
    background-color highlight

.navmenu ul
    background-color highlight
