// * reddit.styl

// ** Top bar
#sr-header-area
    background-color highlight

    .srdrop .selected
         color()

    #sr-more-link
         background-color highlight

// ** Post list
.link.promotedlink.promoted
    background-color highlight

// ** Posts
.link .usertext .md
    background-color highlight

.linkinfo
    background-color highlight

.linklisting .odd
    background-color highlight

.thing .title
    color()

// ** Comments
div.md
    color()

body.comment
    background-color()

.commentarea
    > .usertext
        background-color()
    .menuarea
        background-color()

.comments-page .panestack-title
    background-color()

// ** Left sidebar
.listing-chooser
    background-color()

    .intro
        background-color highlight-extra
        color emphasized

    .grippy
        background-color()

        &:after
            border-right: none i

    li
        background-color highlight

        &.selected
            background-color highlight-extra
            box-shadow: none

        a
            color()

            .description
                color emphasized

// ** Right sidebar
.titlebox
    background-color highlight

    form.toggle
        background-color highlight
        color()

.side .usertext-body .md
    background-color highlight

.side
    background-color highlight

.sidebox .spacer
    background-color highlight
    color emphasized


// ** Header / tabs
.tabmenu li a
    background-color highlight

#header-bottom-right
    background-color highlight

// ** Submit button background
.morelink .nub
    background-color highlight
