// * sakai.styl

// Site-specific rules for sakai websites (t2.gatech.edu is a hosted example)

// ** HTML elements
*
    border-color()
a
    a()
a:visited
    a visited

body
    background-color()
    color()

html
    // Apparently some people set the bgcolor for HTML, not BODY...
    background-color()

input
textarea
    background-color highlight
    color()

tr:hover
blockquote,
pre
    background-color highlight
    color()


#toolMenu
    li
        background-color ()
.navPanel
.navIntraTool
    background-color ()

.instruction
.sakaiCopyrightInfo
    color ()

.listHier
    th
        background-color color-background-highlight-extra-less

ul.makeMenu
    background-color color-background-highlight-extra-less
    border 1px solid color-background-highlight-extra-less i

tr.external
    background-color color-background-highlight-extra-less
