// * dark.styl

@require colors

// ** Colors
color-a = blue
color-a-visited = violet

color-background = base03
color-background-highlight = base02
color-background-highlight-extra = base01
color-background-highlight-extra-less = lighten(color-background-highlight, 4%)
color-background-highlight-extra-less-less = lighten(color-background-highlight, 2%)
color-background-highlight-tad-extra = lighten(color-background, 2%)


color-border = base00
color-text = base0
comment = base01

emphasized = base1
emphasized-more = base2
emphasized-more-more = base3

button-gradient-top = color-background-highlight-extra
button-gradient-bottom = color-background-highlight
