* {
  border-color: #7f849c !important;
}
a {
  color: #89b4fa !important;
}
a:visited {
  color: #cba6f7 !important;
}
body {
  background-color: #1e1e2e !important;
  color: #9399b2 !important;
}
html {
  background-color: #1e1e2e !important;
}
input,
textarea {
  background-color: #181825 !important;
  color: #9399b2 !important;
}
blockquote,
pre {
  background-color: #181825 !important;
  color: #9399b2 !important;
}
.post-actions {
  background-color: #181825 !important;
}
.textarea-wrapper {
  background-color: #1e1e2e !important;
  color: #9399b2 !important;
}
